@charset "utf-8";

@import url(./reset.css);
@import url(./core.css);
@import url(./nav.css);
@import url(./mnav.css);

/* body * {
    outline: 1px dashed gray;
} */

body {
    padding-top: 120px;
}

#top {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    /* border-top: 2px solid #000; */
    /* overflow: hidden; */
    white-space: nowrap;
    /* 줄바꿈방지 */
    z-index: 9999;
}

.top {
    display: flex;
    height: 120px;

}

/* 로고를 싼 박스 */
.logoBox {
    width: 10%;
}

/* 검색창 둘러싼 박스 */
.searchBox {
    position: relative;
    width: 80%;
    padding-top: 15px;
    text-align: center;
}

/* 검색창 */
.sh {
    width: 90%;
    height: 30px;
    border-radius: 25px;
    text-align: center;
}

.icse{
    position: absolute;
    cursor: pointer;
    top: 18%;
    right: 7%;
}


/* 로그인|회원가입 등 박스 */
.menuBox {
    position: absolute;
    top: 10px;
    right: 20px;

}

/* GNB박스 */
.gnbBox {
    position: absolute;
    width: 100%;
    top: 61px;
    left: 50%;
    transform: translateX(-50%);
}


/* 상단 로고 */
.logo {
    position: relative;
    top: 50%;
    transform: translate(-100%, -50%);
}

/* 로그인 | 회원가입 상단 간격 주기 */
.tmenu {
    padding-top: 10px;
}

/*  로그인 | 회원가입 한 줄 */
.tmenu>ul {
    display: flex;
}

/* 탑메뉴 상위 li */
.tmenu>ul>li {
    padding: 10px 7px;
}

/* 탑메뉴 상위 a */
.tmenu>ul>li>a {
    font-size: 1.5rem;
}

.motmenu {
    display: none;
    z-index: 99999;
}

.motmenu>ul>li {
    padding: 10px 12px;
}

.mclb {
    display: flex;
}

.mclb img {
    width: 25px;
    height: 30px;
}

.mclb img:hover{
    cursor: pointer;
}

/* 소제목 */
.h2t a {
    color: white;
    font-size: 16px;
}

/*************************** 중앙 ***************************/

/* 배너 옆으로 간 거 숨기기 */
.bnBox {
    position: relative;
    overflow: hidden;
}

.swiper.mySwiper {
    display: none;
}

/* 배너 배경*/
#slide {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slide li {
    flex-shrink: 0;
    /* 부모박스크기만큼 줄어들지 않음 -> 0 */
    flex-basis: 100%;
    /* 가로크기를 부모박스 크기에 맞춤! */
    /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
    display: flex;
}

.mbg {
    /*이미지는 박스에 맞춤!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율유지 채우기! */
}


/*이동버튼*/
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bgbox {
    position: absolute;
    bottom: 1vh;
    transform: translate(80vw, -50%);
    /*Y축 중앙이동*/
    background-color: #fff;
    border-radius: 5vw;
    width: min(153px, 10vw);
    padding-top: 4%;
}

.abtn {
    z-index: 99;
    width: max(10px, 1.1vw);
}

.abtn img {
    width: 100%;
}

/*왼쪽버튼*/
.ab1 {
    left: 10%;
}

/*오른쪽버튼*/
.ab2 {
    right: 10%;
}



/****************** 배너 공통 ******************/
.mtit,
.mtit2,
.mtit3,
.mtit4,
.madr1,
.madr2,
.madr3,
.madr4,
.madr5,
.madr6,
.mbtn,
.mbtn2,
.mbtn3 {
    position: absolute;
    top: 50%;
}


/* 배너 타이틀 */
.mtit {
    align-items: center;
    flex-direction: column;
    transform: translate(10vw, -70%);
    width: 16.7%;
}

.mtit2 {
    align-items: center;
    flex-direction: column;
    transform: translate(10vw, -70%);
    width: 17.5%;
}

.mtit3 {
    align-items: center;
    flex-direction: column;
    transform: translate(10vw, -70%);
    width: 26.2%;
}

.mtit4 {
    align-items: center;
    flex-direction: column;
    transform: translate(10vw, -70%);
    width: 26.4%;
}

/******************************** 배너 버튼 공통********************************/
.mbtn,
.mbtn2,
.mbtn3 {
    width: 6.8%;
    height: 6.2%;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: .9vw;
    transition: .5s;
    line-height: 2;
}

/* 배너 버튼 1 */
.mbtn {
    border: 2px solid #fff;
    transform: translate(15vw, 5vw);
    color: white;
}

/* 배너 버튼 2 */
.mbtn2 {
    border: 2px solid #1e3932;
    transform: translate(15vw, 5vw);
    color: #1e3932;
}

/* 배너 버튼 3 */
.mbtn3 {
    border: 2px solid #b9813d;
    transform: translate(23.5vw, 5vw);
    color: #b9813d;
}

/****************************** 배너 버튼 오버 공통 ******************************/
.mbtn:hover,
.mbtn2:hover,
.mbtn3:hover {
    transition: .5s;
    text-decoration: underline;
    color: white;
}

/* 배너 버튼 오버 1*/
.mbtn:hover {
    background-color: white;
    color: black;
}

/* 배너 버튼 오버 2*/
.mbtn2:hover {
    background-color: #1e3932;

}

/* 배너 버튼 오버 3*/
.mbtn3:hover {
    background-color: #b9813d;
}

/* 배너 음료 1 */
.madr1 {
    width: 16.2%;
    transform: translate(50vw, -40%);
}

/* 배너 음료 2 */
.madr2 {
    width: 13.6%;
    transform: translate(37vw, -60%);
}

/* 배너 음료 3 */
.madr3 {
    /* 200 / 367 */
    width: 10.5%;
    transform: translate(67vw, -60%);
}

/* 2번 배너 음료 1*/
.madr4 {
    width: 14.5%;
    transform: translate(55vw, -40%);
}

/* 2번 배너 음료 2 */
.madr5 {
    width: 14.3%;
    transform: translate(40vw, -55%);
}

/* 2번 배너 음료 3 */
.madr6 {
    width: 14.5%;
    transform: translate(70vw, -55%);
}



/**************************** 메인 2번째 ****************************/
/* 공지사항 | 프로모션 라인 */
.npline {
    display: flex;
    position: relative;
    height: 62px;
}

.notice_box {
    width: 50%;
    display: flex;
    background-color: #111;
    padding-top: 22.5px;
    overflow: hidden;

}

/* 공지사항 */
.notice_tit {
    padding-left: 35%;
}

/* 공지사항 이미지 */
.pnotice {
    width: 65px;
    height: 18px;
}

.mnotice{
    display: none;
}

/* 공지내용 */
#notice {
    position: relative;
    flex-direction: column;
    top: 0;
    padding-left: 20px;
}

#notice li {
    display: none;
    position: absolute;
    white-space: nowrap;
}

#notice li.on {
    display: block;
}

/* 공지 내용 a */
#notice a {
    color: #fff;
    font-size: 14px;
}

/* 공지 내용 오버시 밑줄 */
#notice a:hover {
    text-decoration: underline;
}

/* 공지사항 더보기 */
.ntp {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translateY(-50%);

}

/* 공지사항 이미지 */
.ntp img {
    width: 45px;
    height: 45px;
}

/* 프로모션 */
.prom {
    width: 50%;
    background-color: #f6f5ef;
    text-align: center;
    padding-top: 22.5px;
}

.prom img {
    width: 129px;
    height: 17px;
}

/* 스타벅스 유튜브 박스*/
.youtubeBox {
    display: flex;
    background-color: #1e3932;
    height: 410px;
}

/* 이미지 문구 버튼 묶음 박스 */
.ytbn {
    display: flex;
    width: 60%;
    color: #fff;
    padding-top: 148px;
    justify-content: center;
}

/* 스타벅스 리워드 이미지 */
.ytbn img {
    width: 176px;
    height: 152.58px;
}

/* 스타벅스 유튜브 문구 박스 */
.ytb {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

/* 스타벅스 유튜브 문구 1 */
.ytxt1 {
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

/* 스타벅스 유튜브 문구 2 */
.ytxt2 {
    font-size: 17px;
}

/* 유튜브 이동버튼 */
.ytbt {
    position: absolute;
    top: 50%;
    width: 179px;
    height: 80px;
    background: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #c4302b;
    transform: translate(80%);
    color: #c4302b;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 3;
}


.ytbt:hover {
    transition: .5s;
    background-color: #c4302b;
    text-decoration: underline;
    color: #fff;
}


/* 유튜브 영상 박스 */
.ytvideo {
    width: 40%;
}

.mytvideo {
    display: none;
}

/* 유튜브 영상 */
.ytvideo iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* 앱 다운 박스 */
.appstBox {
    display: flex;
    height: 536px;
    background-color: #ccc;

}

/* 앱 이미지 박스 */
.phoneBox {
    width: 50%;
}

/* 스타벅스 앱 이미지 */
.phi {
    text-align: right;
}

/* 문구, 앱 다운 이동 버튼 박스 */
.appBox {
    width: 50%;
    margin-top: 100px;
    text-align: center;
}

/* 스타벅스 앱 문구 */
.appBox span {
    font-size: 40px;
    font-weight: bold;
}

/* 앱 다운 버튼 */
.store {
    margin-top: 50px;
    /* padding-top: 50px; */
    text-align: center;
}

/* 구글 다운 버튼 이미지 */
.google {
    width: 141px;
    height: 42px;
}

/* 애플 다운 버튼 이미지 */
.apple {
    width: 141px;
    height: 42px;
}

/***************************************** 모바일 용 *****************************************/
/* 모바일(930px)배너 */
.mmb {
    display: none;
    overflow: hidden;
}

.mmbBox {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 메인 배너 배경 사진 */
.mmb1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 메인 배너 문구 */
.mtxt {
    position: absolute;
    width: 100%;
    top: 4.1%;
    left: 12.4%;
}

/* 메인 배너 문구 이미지 */
.mtxt img {
    /* 290 / 179 */
    width: 31.8%;
}

/* 메인 배너 음료 1*/
.mmd1 {
    position: absolute;
    top: 20%;
    right: -13%;
    width: 100%;
}

/* 메인 배너 음료 1 이미지 */
.mmd1 img {
    width: 82%;
}

/* 메인 배너 음료 2*/
.mmd2 {
    position: absolute;
    top: 36%;
    left: 12%;
    width: 100%;
}

/* 메인 배너 음료 2 이미지 */
.mmd2 img {
    width: 74.4%;
}

/* 메인 배너 음료 3*/
.mmd3 {
    position: absolute;
    top: 53%;
    right: -11.5%;
    width: 100%;
}

/* 메인 배너 음료 3 이미지 */
.mmd3 img {
    width: 83%;
}

/* 메인 배너 음료 4 */
.mmd4 {
    position: absolute;
    top: 70%;
    left: 12%;
    width: 100%;
}

/* 메인 배너 음료 4 이미지 */
.mmd4 img {
    width: 74.1%;
}

/* 메인 배너 버튼 자세히 보기 */
.mmbtn {
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translateX(-50%);
    width: 125px;
    height: 38px;
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 34px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

.mmbtn:hover {
    background-color: white;
    transition: .5s;
    text-decoration: underline;
    color: #000;
}



/****************************************************************************/
.swiper-slide {
    text-align: center;
}

.mbtxt {
    font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    font-size: 18px;
    font-weight: bold;
    color: pink;
}

/*  모바일(930px이하)용 배너 1  */
.mob {
    display: none;
    overflow: hidden;
    height: 43vw;
    flex-shrink: 0;
    flex-basis: 100%;
}

#mobBox {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cb2Box {
    position: absolute;
    width: 100%;
    left: -30%;
    top: 50%;
    transition: 2s;
}

.cb2Box.on {
    left: 15%;
}

.mobtit {
    width: 33.4%;
    transform: translateY(-50%);
}

.Box {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
    width: 35%;
    right: -40%;
    transition: 2s;
}

.Box.on {
    right: 15%;
}


.mobtit1 {
    transform: translateY(-50%);
}


/* 모바일용 배너 자세히보기 버튼 */
.mobtn {
    left: 0;
    top: 70%;
    transform: translateY(-50%);
    width: 125px;
    height: 38px;
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 34px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

.mobtn:hover,
.mobtn2:hover {
    text-decoration: underline;
    transition: .5s;
    color: black;
    background-color: #fff;
    transition: .5s;
}

.mob2 {
    display: none;
    position: relative;
}

.mob2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobtn2 {
    position: absolute;
    right: 50%;
    top: 85%;
    transform: translateX(50%);
    width: 125px;
    height: 38px;
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #fff;
}

/*  모바일(640px이하)용 배너 1 */
.mob640 {
    overflow: hidden;
    display: none;
    flex-shrink: 0;
    flex-basis: 100%;
}

#m640Box {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.m640img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cb2640 {
    position: absolute;
    width: 100%;
    left: 50%;
    top: -45%;
    transition: 2s;
}

.cb2640.on{
    top: 15%;
}

.mtit640 {
    width: 82.8%;
    transform: translateX(-35%);
}

.Box640 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60%;
    width: 59.3%;
    left: 50%;
}

.m640tit {
    transform: translateX(-50%);
}

.mbtn640 {
    transform: translate(-50%, 150%);
    width: 125px;
    height: 38px;
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #fff;
}


.mbtn640:hover {
    background-color: #fff;
    transition: .5s;
    text-decoration: underline;
    color: black;
}


/***************************** 하단  *****************************/
#info {
    background: #2C2A29;
}

.mol{
    display: none;
}

/* 바로가기 ol */
.f1 ol {
    padding: 30px 4vw 80px;
}

/* 바로가기 li*/
.f1 li {
    display: flex;
    justify-content: center;
    line-height: 2.2;
    flex-wrap: wrap;
}

/* 바로가기 메뉴 */
.f1 li>a {
    color: white;
    font-size: 12px;
    /* 텍스트 왼쪽으로 정렬 */
    margin-right: auto;
    /* 줄바꿈방지 */
    white-space: nowrap;
}

.f1 li>a:hover {
    text-decoration: underline;
}

/* COMPANY와 동일한 라인*/
.st a:first-child {
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
}

/* 하단링크, 하단정보 */
.f2,
.f3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #999;
    font-size: 12px;
}

/* 하단링크 a */
.f2 a {
    color: #ccc;
    padding: 0 10px;
    line-height: 2;
    /* white-space: nowrap; */
    /* 줄바꿈방지 */
}

.f2 a:hover {
    text-decoration: underline;
}

/* 개인정보처리방침 글자색 초록 */
.f2 li:first-child a {
    color: #00b050;
    font-weight: 700;
}


/* 버튼박스 */
.bt {
    display: flex;
    justify-content: center;
}

/* 각각의 버튼박스 */
.btns {
    text-align: center;
    background: none;
    border: 2px solid #fff;
    margin: 10px 5px;
    padding: 0 10px;
    width: 110px;
    height: 35px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    line-height: 2.5;
}


.btns:hover{
    text-decoration: underline;
}

/* 하단정보 */
.f3 li {
    padding: 0 1vw;
    line-height: 3;
    /* white-space: nowrap; */
    /* 줄바꿈방지 */
}


/* ⓒ 2022 Starbucks Coffee Company. All Rights Reserved. */
.addr {
    color: #999;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    line-height: 4;
    /* white-space: nowrap; */
    /* 줄바꿈방지 */
}

/* 하단로고 */
.flogo {
    text-align: center;
    padding: 30px 0 40px 0;
}

/* 하단로고 이미지 */
.flogo img {
    width: 15%;
}