@charset "utf-8";

/* reset.css */
@import url(./reset.css);
@import url(./core.css);

body *{
    outline: 1px dashed gray;
}

html,body{
    outline: 2px dotted red;
}

/* body{
    background: url(../img/배너/starbucks1.PNG) no-repeat 0 150px/cover;
    background-size: 100% 500px;
} */

#top{
    background: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    border-top: 2px solid #000;
    overflow: hidden;
}

.top{
    display: flex;
    height: 120px;
}
/* 하위박스 비만들기 */
.logoBox{
    width: 10%;
}
.searchBox{
    width: 60%;
    height: 30%;
}
.menuBox{
    width: 30%;
    height: 30%;
}
.gnbBox{
    position: absolute;
    
    width: 55%;
    height: 8%;
    
    top: 42px;
    left: 16%;
}

.logo{
   padding-top: 20px;
}

.tmenu{
  padding-top: 10px;
}

.tmenu>ul{
    float: right;
}
/* 탑메뉴 상위 li */
.tmenu>ul>li{
    padding: 2px 7px;
}
/* 탑메뉴 상위 a */
.tmenu>ul>li>a{
    font-size: 1.5rem;
}
.clb > li {
    float: left;
}