@charset "utf-8";

/* reset.css */
@import url(./reset.css);

html,body{
    outline: 2px dotted red;
}

/* body{
    background: url(../img/배너/starbucks1.PNG) no-repeat 0 150px/cover;
    background-size: 100% 500px;
} */

#top{
    background: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    border-top: 2px solid #000;
    overflow: hidden;
}

.top{
    height: 120px;
}

.logo{
    margin: 10px 200px;
    padding-top: 25px;
}
