@charset "utf-8";

/* media.css */
/* 1400 1340 1120 960 930 */

/* 1400px */
@media screen and (max-width: 1400px) {
    .logo {
        transform: translate(-50%, -50%);
    }

    .sh {
        width: 75%;
    }

    .icse {
        right: 14%;
    }

    .swrap {
        transform: translateX(-500px);
    }


    .gnb>ul>li>a {
        font-size: 17px;
    }

    .youtubeBox {
        height: 310px;
    }

    .ytbn {
        padding-top: 90px;
    }
}

/* 1340px */
@media screen and (max-width: 1340px) {
    .logo {
        transform: translate(-40%, -50%);
    }

    .sh {
        width: 70%;
    }

    .icse {
        right: 16%;
    }

    .gnb>ul>li>a {
        font-size: 16.5px;
    }

    .youtubeBox {
        height: 300px;
    }

    .appBox span {
        font-size: 38px;
    }
}

/* 1120px */
@media screen and (max-width: 1120px) {
    .logo {
        transform: translate(25%, -50%);
    }

    .sh {
        width: 55%;
    }

    .icse {
        right: 24%;
    }

    .gnb>ul>li>a {
        font-size: 15px;
    }

    .notice_tit {
        padding-left: 7%;
    }

    .youtubeBox {
        height: 250px;
    }

    .ytbn {
        padding-top: 50px;
    }

    .ytxt1 {
        font-size: 22px;
    }

    .ytxt2 {
        font-size: 16px;
    }

    .ytbt {
        transform: translate(50%);
    }

    .appBox span {
        font-size: 33px;
    }

}

/* 960px */
@media screen and (max-width: 960px) {
    body {
        padding-top: 70px;
    }

    .top {
        height: 70px;
    }

    .logo img {
        width: 45px;
        height: 45px;
    }

    .icse {
        top: 30%;
    }

    .tmenu {
        display: none;
    }

    .motmenu {
        display: block;
    }

    .gnbBox {
        display: none;
    }

    .mbox {
        display: none;
    }


    .notice_tit {
        padding-left: 5%;
    }

    .youtubeBox {
        height: 220px;
    }

    .ytbn {
        padding-top: 30px;
    }

    .ytb {
        padding-left: 30px;
    }

    .ytxt1 {
        font-size: 18px;
    }

    .ytxt2 {
        font-size: 14px;
    }

    .ytbt {
        transform: translate(30%);
    }

    .appstBox {
        height: 505px;
    }

    .phi img {
        width: 100%;
    }

    .appBox span {
        font-size: 28px;
    }
}

/* 930px */
@media screen and (max-width: 930px) {
    .mmb {
        display: block;
    }

    .bnBox {
        display: none;
    }

    .swiper.mySwiper {
        display: block;
    }

    html,
    body {
        position: relative;
        height: 100%;
    }

    body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 70px 0;
    }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 90px;
        background-color: green;
    }

    .swiper-slide {
        /* 드래그 선택안되게 하기 */
        user-select: none;
        -webkit-user-drag: none;
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

    .youtubeBox {
        display: none;
    }

    .appstBox {
        display: none;
    }

    .mob {
        display: block;
    }

    .mob2 {
        display: block;
    }

    /* 하단 */
    .mol {
        display: block;
    }

    .f1 ol {
        padding: 30px 5vw 80px 25px;
        width: calc(92% / 4);
    }


    .f1 li {
        justify-content: left;
    }
}

/* 770px */
@media screen and (max-width:770px) {

    /* 공지사항 | 프로모션 라인 */
    .npline {
        height: 140px;
        flex-direction: column;
    }

    .notice_box {
        width: 100%;
        padding-top: 20px;
        height: 50px;
    }

    /* 공지내용 */
    #notice {
        padding-left: 20%;
    }

    /* 공지 내용 a */
    #notice a {
        font-size: 17px;
    }

    /* 공지사항 더보기 */
    .ntp {
        top: 25%;
        left: 90%;
        transform: translateY(-50%);
    }

    .prom {
        width: 100%;
        padding-top: 20px;
        height: 50px;
    }

    /* 하단 */
    .ulBox {
        background: #645952;
    }

    .st {
        background: #554c46 url(../img/모바일배너/m_down.png) no-repeat 98%/20px 11px;
    }

    .f1 li {
        flex-direction: column
    }


    .st a:first-child {
        padding: 10px;
        color: #fff;
    }

    .f1 li>a {
        font-size: 14px;
        padding: 10px;
        color: #e6dbd3;
    }

    .f1 ol {
        padding: 0;
        width: 100%;
    }

    .f2 {
        padding: 50px 0;
    }

    .bt {
        padding: 0 0 50px;
    }

    /* 회원가입 페이지 */
    .memBox {
        max-width: 600px;
    }

    .button {
        max-width: 580px;
    }
}

/* 640px */
@media screen and (max-width:640px) {
    .mob {
        display: none;
    }

    .mob640 {
        display: block;
    }

    .msm a {
        font-size: 16px;
    }

    .msmenu li:first-child a {
        font-size: 20px;
    }

    .msm>a {
        font-size: 24px;
    }

    /* 로그인 페이지 로그인 박스 */

    .hi {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }

    /* 회원가입 페이지 */
    .memBox {
        max-width: 500px;
    }

    .button {
        max-width: 480px;
    }


}


/* 540px */
@media screen and (max-width:540px) {
    .searchBox {
        width: 65%;
    }

    .sh {
        width: 70%;
    }

    .icse {
        right: 18%;
    }

    .mgnb {
        padding-top: 0px;
    }

    /* 공지내용 */
    #notice {
        padding-left: 10%;
    }

    .msm a {
        font-size: 13px;
    }

    .msmenu li:first-child a {
        font-size: 16px;
    }

    .msm>a {
        font-size: 18px;
    }

    /* 하단 */

    .f1 li {
        line-height: 25px;
    }

    .st a:first-child {
        padding: 9.6px;
    }

    .f1 li>a {
        padding: 8px;
    }

    /* 로그인 페이지 */
    .war {
        max-width: 460px;
    }

    /* 회원가입 페이지 */
    .memBox {
        max-width: 400px;
    }

    .button {
        max-width: 380px;
    }
}

/* 440px */
@media screen and (max-width:440px) {
    .searchBox {
        display: none;
    }

    .starimg {
        display: none;
    }

    .msearch {
        display: block;
    }

    .close img {
        width: 20px;
        height: 20px;
    }

    .pnotice {
        display: none;
    }

    .mnotice {
        display: block;
    }

    /* 공지내용 */
    #notice {
        padding-left: 8%;
    }

    #notice a {
        font-size: 15px;
    }

    .ntp {
        left: 83%;
    }

    .mgnb {
        padding-top: 10px;
    }

    .msm {
        padding: 15px 10px;
    }

    /* 로그인 페이지 */
    .log {
        max-width: 400px;
    }

    #idtxt,
    #pwtxt {
        padding: 10px;
    }

    .logbtn {
        height: 45px;
    }

    .logbtn a {
        font-size: 20px;
        line-height: 43px;
    }

    .war {
        max-width: 345px;
    }

    .login_btn_wrap li {
        width: 189.8px;
        height: 44px;
    }

    .login_btn_wrap a {
        line-height: 44px;
        font-size: 14px;
    }

    /* 회원가입 페이지 */
    .memBox {
        max-width: 300px;
    }

    .user_gender {
        border: 1px solid #b0b0b0;
        border-radius: 3px;
        float: left;
        margin-left: 2%;
        overflow: hidden;
        width: 50%;
    }

    .button {
        max-width: 280px;
    }
}

/* 380px */
@media screen and (max-width:380px) {
    .btns {
        padding: 0;
    }

    .msm a {
        font-size: 13px;
    }

    .msmenu li:first-child a {
        font-size: 16px;
    }

    .msm>a {
        font-size: 16px;
    }

    .mgnb {
        padding-top: 0px;
    }

    .msm {
        padding: 10px 10px;
    }

    /* 로그인 페이지 */
    .hi {
        padding: 15px 0;
        font-size: 16px;
    }

    .log {
        max-width: 340px;
    }

    #idtxt,
    #pwtxt {
        padding: 15px;
    }

    .chk {
        padding: 10px 0 15px;
    }
}

/* 280px */
@media screen and (max-width:280px) {

    .swiper {
        padding-bottom: 0px;
    }

    .mnotice {
        width: 28px;
        height: 28px;
    }

    /* 공지내용 */
    #notice {
        padding-left: 5%;
    }

    #notice a {
        font-size: 12px;
    }

    .msm a {
        font-size: 13px;
    }

    .msmenu li:first-child a {
        font-size: 16px;
    }

    .msm>a {
        font-size: 16px;
    }

    .mgnb {
        padding-top: 0px;
    }

    .msm {
        padding: 10px 10px;
    }

    /* 회원가입 페이지 */
    .button {
        max-width: 180px;
    }
}