@charset "utf-8";

/* media.css */
/* 1400 1340 1120 1020 960 930 */
@media screen and (max-width: 1400px) {
    .logo {
        transform: translate(-50%, -50%);
    }

    .sh {
        width: 75%;
    }

    .gnb>ul>li>a {
        font-size: 17px;
    }
}

@media screen and (max-width: 1340px) {
    .logo {
        transform: translate(-40%, -50%);
    }

    .sh {
        width: 70%;
    }

    .gnb>ul>li>a {
        font-size: 16.5px;
    }
}

