@charset "utf-8";


.memtxt {
    padding: 70px 0 30px;
    text-align: center;
    font-size: 30px;
}

.memBox {
    position: relative;
    max-width: 700px;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.memimg {
    text-align: center;
    padding: 30px 20px 0;
}

.txtmem {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.input {
    border-bottom: 1px solid #ddd;
}

.id,
.pw,
.pwc {
    padding: 20px 50px;
    border-bottom: 1px solid #ddd;
}

#idtxt,
#pwtxt,
#pwctxt{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

/* 공통 메시지 박스 */
.msg {
    line-height: 15px;
    font-size: 14px;
    color: #f00;
    /* 줄바꿈방지 */
    white-space: nowrap;

    /* outline: 1px solid green; */
}

/* 메시지 글자색 변경 */
.msg.on {
    color: green;
}

.name {
    padding: 20px;
    font-size: 18px;
}

strong span {
    color: #006241;
}

.nametxt {
    display: flex;
    padding: 0px 20px 40px;
    border-bottom: 1px solid #ddd;
}

#nt {
    background: #f4f4f2;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 15px;
    font-size: 14px;
    width: 49%;
}

.user_gender {
    position: relative;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    float: left;
    margin-left: 2%;
    overflow: hidden;
    width: 22.711%;
}

.user_gender a.on {
    transition: .3s;
    background: #f4f4f2;
    color: #222;
}

.user_gender a.male {
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    width: 50%;
}

.user_gender a {
    color: #b0b0b0;
    display: block;
    float: left;
    line-height: 45px;
    text-align: center;
    width: 50%;
    font-size: 16px;
}

#male{
    /* opacity: 0; */
    position: absolute;
    width: 45%;
    height: 92%;
    left: 0;
    z-index: 99;
}

#female{
    /* opacity: 0; */
    position: absolute;
    width: 45%;
    height: 92%;
    right: 0;
    z-index: 99;
}

.nmsg{
    position: absolute;
    margin-top: 60px;
}

.phone {
    padding: 20px;
    font-size: 18px;
}

.phtxt {
    display: flex;
    padding: 0px 20px 40px;
    border-bottom: 1px solid #ddd;
}

#ph {
    background: #f4f4f2;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 15px;
    font-size: 14px;
    width: 49%;
}

.icwar {
    cursor: pointer;
    width: 26px;
    height: 26px;
}

.ictxt {
    display: none;
    position: absolute;
    width: 96%;
    left: 2%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #000;
}

.icX {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.ictxt li {
    padding-top: 5px;
}

.ictxt span {
    font-size: 16px;
    font-weight: bold;
}


.ictxt li {
    color: #111;
    font-size: 14px;
}

.clBox {
    text-align: center;
}

.clbtn {
    cursor: pointer;
    width: 57px;
    border: 1px solid #222;
    border-radius: 3px;
    margin-top: 20px;
    background: #222;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;

}

.lastxt {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 60px 0 0;
}

.button {
    margin: 0 auto;
    max-width: 680px;
    padding: 10px 0 50px;
}

.membtn {
    width: 100%;
    box-sizing: border-box;
    background: #006633;
    height: 65px;
    border-radius: 3px;
}

#btnj {
    cursor: pointer;
    background: #006633;
    display: block;
    font-size: 24px;
    line-height: 63px;
    width: 100%;
    height: 100%;
    color: #fff;
}