/* GNB메뉴박스 */
.gnb {
    position: relative;
    z-index: 999;
    /* 포지션이 있어야 z-index적용됨!
      GNB 하위메뉴가 위에 오도록 z-index를 높인다! */
}

/* ul 초기화 */
.gnb ul {
    /* 직계 li만 옆으로 흐름! */
    display: flex;
    /* 수평방향 flex 중앙정렬 */
    justify-content: center;

}

/* 상위li 리스트요소 */
.sm {
    padding: 0 30px;
}

/*  MENU, STORE 등 */
.sm>a {
    /* a요소 확장 */
    display: block;
    font-weight: bold;
    font-size: 17px;
    line-height: 50px;
    color: #000;
    /* text-decoration: none; */
    /* 트랜지션:속시이지 */
    transition: 0.3s;
}

/* MENU, STORE 색깔 변경 */
.sm:hover>a {
    color: #669900;
}

.sm:hover {
    background-color: #2c2a29;
}

/* 상단 메뉴 글자에 밑줄애니 */
.sm>a>span {
    position: relative;
    /* 부모자격 */
}

/*  MENU, STORE 가상요소로 밑줄넣기 */
.sm>a>span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    /* 부모는? 싸고있는 span */
    width: 0;
    /* 마우스오버시 100% */
    height: 2px;
    background-color: #fff;
    /* 트랜지션: 속시이지 - 돌아올때 지연시간 없음! */
    transition: width 0.2s ease-out;
}

/* MENU, STORE 오버시 가상요소 밑줄애니 */
.sm:hover>a>span::after {
    width: 100%;
    /* 오버시에 기다리는 시간 0.4초 */
    transition-delay: 0.4s;
}

/* 서브메뉴 */
.smenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* height: 0; */
    /* overflow: hidden; */
    background-color: #2c2a29;
    display: none;
}

.swrap {
    position: relative;
    left: 50%;
    transform: translateX(-550px);
    display: flex;
}

/* GNB 오버 시 메뉴 보임 */
.sm:hover .smenu {
    display: block;
    padding: 12px 0px;
    width: 100%;
}

/* 서브메뉴 a */
.smenu a {
    /* a요소 확장 */
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 35px;
    text-align: left;
}

/* 서브메뉴 오버시 밑줄*/
.smenu a:hover {
    text-decoration: underline;

}

.smenu ol {
    text-align: center;
    /* margin: 0 auto; */
    padding: 0 3vw;
}