/* GNB메뉴박스 */
.gnb {
    position: relative;
    z-index: 999;
    /* 포지션이 있어야 z-index적용됨!
      GNB 하위메뉴가 위에 오도록 z-index를 높인다! */
    background-color: #f6f5ef;
}

/* ul 초기화 */
.gnb ul {
    /* 직계 li만 옆으로 흐름! */
    display: flex;
    /* 수평방향 flex 중앙정렬 */
    justify-content: center;
    /* width: 800px;
      margin: 0 auto; -> flex에서 중앙정렬설정 안씀
      outline: 1px solid red; */

}

/* 상위li 리스트요소 */
.gnb>ul>li {
    width: 190px;
    /* height: 40px; */
    text-align: center;
    /* outline: 1px dashed blue; */
    /* float: left; -> 사용안함! flex 쓸 것임!*/
    /* box-sizing: border-box; */
}

/* 상위 li.on에 가상요소로 하위메뉴 100%배경바 만들기 */
.gnb>ul>li.sm::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    /* 부모는? - .gnb */
    width: 100%;
    height: 0;
    /* 65px; */
    background-color: #2C2A29;
    z-index: -1;
    /* .smenu 보다 아래! */

    /* smenu와 동일 */
    /* transition: height .4s ease-out; */
}

/* GNB 오버 시 뒤에 추가 색 보임*/
.gnb>ul>li.sm:hover::after {
    height: 165px;
}

/* li사이에 구분선 넣기 */
.gnb>ul>li+li::before {
    content: '';
    display: block;
    position: absolute;
    /* 젠틀앱솔루트:
      부모박스안에 그대로있음! */
    width: 1px;
    height: 20px;
    margin-top: 10px;
    margin-left: 1px;

    /* border-left: 1px solid #000; */
}

/* li 상위메뉴 a요소 */
.gnb>ul>li>a {
    /* a요소 확장 */
    display: block;
    width: 100%;
    height: 100%;

    font-size: 17px;
    line-height: 60px;
    color: #000;
    text-decoration: none;
    /* 트랜지션:속시이지 */
    transition: .3s;
}

/* MENU, STORE 색깔 변경 */
.gnb>ul>li:hover>a {
    color: #669900;
    background-color: #2C2A29
}

/* 상단 메뉴 글자에 밑줄애니 */
.gnb>ul>li>a>span {
    position: relative;
    /* 부모자격 */
}

/*  MENU, STORE 가상요소로 밑줄넣기 */
.gnb>ul>li>a>span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    /* 부모는? 싸고있는 span */
    width: 0;
    /* 마우스오버시 100% */
    height: 2px;
    background-color: #fff;
    /* 트랜지션: 속시이지 - 돌아올때 지연시간 없음! */
    transition: width .2s ease-out;
}

/* MENU, STORE 오버시 가상요소 밑줄애니 */
.gnb>ul>li:hover>a>span::after {
    width: 100%;
    /* 오버시에 기다리는 시간 0.4초 */
    transition-delay: .4s;
}

/* 
      [ 부모요소로 부터 상속되는 속성은 무엇인가? ]
      글자체, 글자색, 글자크기, 글자정렬 등 글자관련속성들
    */

/* 서브메뉴 */
.smenu {
    position: absolute;

    /* 메뉴 숨기기 높이값 0, overflow:hidden*/
    left: 0;
    height: 0;
    overflow: hidden;
    /* 주의: 숨기는 박스에 상하패딩이 있으면 완전히 숨길 수 없다! */

    /* 상위메뉴 오버시 배경색과 동일 */
    background-color: #2C2A29;
}

/* GNB 오버 시 메뉴 보임 */
.gnb>ul>li:hover .smenu {
    height: 165px;
    /* 모든 하위메뉴 공통! */
}

/* 서브메뉴 a */
.smenu a {
    /* a요소 확장 */
    display: block;

    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    line-height: 35px;

    padding: 0 7px;
    margin: 0 7px;

    /* 트랜지션 */
    /* transition: .2s; */
}

/* 서브메뉴 오버시 밑줄*/
.smenu a:hover {
    text-decoration: underline;
}